*{ 
    font-family: fantasy;
    margin:0;
    padding:0;
}

body{
    display:flex ;
    flex-direction: column;  
    justify-content: center;
 }


header{
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    background-color:rgba(10, 10, 10, 0.5);
    
    
}


#head{
    display:flex ;
    justify-content: center;

}

nav{
    margin: 10px 0 10px 0;
    font-size: larger;
    padding:10px; 
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color:black;
    padding:10px ;
    position: relative;
}
a:hover{
    font-size: 20px;
    
}
a:link{
    font-style: italic;

}
a:active{
    color:white;
}


main{
    display:flex ;
    flex-direction: row;  
    justify-content:center; 
    align-items: center;
    
 }
p{
    width: 80%;
    text-align:left;
    padding-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #logo{
    width: 200px;
    margin:20px 0 0 0;
    padding: 0px;
}


footer{
    display: flex;
    position: relative;
    margin: 50px 20px  ;   
}
h1{
    font-size: 20px;
    margin:20px;
}
.contacto{
    margin:10px;
}
#insta:hover{
    background-size:cover;
    background-image: url(insta.jpeg);
   color:transparent;
  height:100px ;
   
   
}
#face:hover{
    background-size:cover;
    background-image: url(face.png);
    height:100px ;
    color:transparent;
}
#volver{
position: relative;
margin: 100px;

}